<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
  <!-- <properties resource="mybatis/db.properties"/>  -->
  <context id="context1" targetRuntime="MyBatis3">
    <jdbcConnection driverClass="org.postgresql.Driver"
	                connectionURL="jdbc:postgresql://localhost:5432/reactspringdb"
	                userId="reactspring"
	                password="reactspring">
    </jdbcConnection>
    <javaModelGenerator targetPackage="com.mybatis.datediff.model" targetProject="webapp" />
    <sqlMapGenerator targetPackage="com.mybatis.datediff.mapper" targetProject="webapp/src/main/resources"></sqlMapGenerator>
    <javaClientGenerator targetPackage="com.mybatis.datediff.mapper" targetProject="webapp" type="XMLMAPPER" />
    <table schema="reactspring" tableName="date_diff" 
    	   enableInsert="true" enableUpdateByPrimaryKey="true ">
    	   <generatedKey column="pk" sqlStatement="SELECT nextval('reactspring.&quot;dateDiff_pk_seq&quot;'::regclass)::int8" />
    </table>
  </context>
</generatorConfiguration>